#imageContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.hid{
	display: none;
}
table{
	border: 1px solid black;
}
#commandList {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
} #commandList button {
} #commandList form {
	border: 1px soild white;
}
