<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	{% block head %}{% endblock %}
</head>
<body>
	<div id="banner">
		<h1 id="title">Raster Router</h1>
		<h3 id="subtitle">a user template based image processor</h3>
		<p id="links">
			<a href="./about">About</a>
			<a href="./about">Github</a>
		</p>
	</div>
	{% block body %}{% endblock %}
</body>
</html>