{% extends 'base.html' %}
{% block head %}
	<title>Create - Raster Route</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		var fid = "{{fid}}"; //transfer filename from flask
		var routestring = ""; //routestring
		function update_img(id) {
			// give the server some time to write the new image
			setTimeout(()=>{
				document.getElementById(id).src = "static/img/user/"+fid+"_"+id+".png";
			},300)
		}
		function update_all(){
			update_img("pres")
			update_img("next")
		}
		$(document).ready(()=>{
			$("#blankForm").submit((e) => {
				e.preventDefault(); //avoid normal submit
				var form = $("#blankForm")
				console.log("e"+form.serialize())
				$.ajax({
					type: "POST",
					url: "./create/generate_blank",
					data: form.serialize(),
					success: (data) => {
						console.log("blankForm success")
						console.log(data)
					},
					error: (data) => {
						console.log("blankForm error")
						console.log(data)
					},
				});
				update_all() // update images
				$("hid").css("display", "default");

			});
			$("#refreshBtn").click((e)=>{
				update_all()
			});
		});

		console.log("fid: ", fid)
	</script>
{% endblock %}

{% block body %}
	<h2>Create Router</h2>
	<p id="uuid">fid: {{ fid }}</p>
	<form id="blankForm">
		x: <input type="number" name="width"  value="600" max="1024">
		y: <input type="number"name="height"  value="600" max="1024">
		<input type="submit" value="Generate Blank Canvas">
	</form>
	


	<div id="imageContainer">
		<div id="presContainer">
			<h3>present:</h3>
			<img class="raster" id="pres" src="{{ url_for('static', filename='img/default.png')}}">
			<button id="refreshBtn">Emergency Refresh</button>
		</div>
		<div id="nextContainer">
			<h3>preview:</h3>

			<img class="raster" id="next" src="{{ url_for('static', filename='img/default.png')}}">
			<button id="nextBtn">Continue to Next</button>
		</div>

	</div>
	<div id="argumentsContainer" class="init-hidden">
		Current Arguments:
		<div id="argumentsList">
			placeholder 1
			placeholder 2
			<form>
				Argument Name:<input type="text">
				Argument Type:
					<select>
						<option>text</option>
						<option>image</option>
						<option>boolean</option>
					</select>
				Argument Value:
				<textarea></textarea>
				<input display="hidden" type="file">
				<input type="submit" value="Add Argument">
			</form>
		</div>
	</div>
	<div id="commandList" style="display:none">
		Commands:
		<div>
			<form id="addTextForm">
				Text: <textarea name="intext" form="addTextForm"></textarea>
				posx: <input name="posx" type="number" min="-10000" max="10000">
				posy: <input name="posy" type="number" min="-10000" max="10000">
				<select name="font">
					<option value="impact">Impact</option>
					<option value="impact"></option>
				</select>
				<input type="submit" value="Add Text to to Preview">
			</form>
		</div>
	</div>
		<form>
			<input type="submit" value="Add 2D Object">	
			Type:
			IF: 
			<select>
				<option>True</option>
			</select>
			<select>
				<option>Shape</option>
				<option>Text</option>
				<option>Image</option>
			</select>
			Pattern:
			<select>
				<option>single</option>
				<option>sin</option>
				<option>circle</option>
				<option>spiral</option>
			</select>
			Size
			x: <input type="text">
			y: <input type="text">
			Location:
			x: <input type="number">
			y: <input type="number">
			Spacing (px): <input type="text">
			Color (add hex color picker later): 
			Render Type:
			<select>
				<option>normal</option>
				<option>additive</option>
				<option>burn</option>
			</select>
			Location:
			<select>
				<option>free text</option>
				<option>caption above image</option>
				<option>caption on image</option>
				<option>caption below image</option>
			</select>
			Font-Face:
			<select>
				<option>Times New Roman</option>
				<option>Comic Sans</option>
				<option>IBM EGA8</option>
				<option>Impact</option>
			</select>
			<br>
			Text: <textarea></textarea>
		</form>
		<br>
		<form>
			<input type="submit" value="Add Filter">
		</form>
		<form>
			<input type="submit" value="Scale to size">
			IF: 
			<select>
				<option>True</option>
			</select>
			x:<input type="text">
			y:<input type="text">
			method:
			<select>
				<option>Standard</option>
				<option>Pixel</option>
			</select>
		</form>
		<form>
			<input type="submit" value="Crop">
			start:<input type="text">
			end:<input type="text">
			x-below:<input type="text">
			y-below:<input type="text">
		</form>
{% endblock %}
