{% extends 'base.html' %}
{% block head %}
	<title>Create - Raster Route</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/FileSaver.js') }}"></script>
	<script>
		// GLOBAL VARIABLES for client-side Routestring generation
		var fid = "{{fid}}"; //transfer filename from flask
		var rs = ""; //routestring
		var rs_add = ""; //routestring addition
		var argString = ""; //argumentstring
		var argNames = [];
		var maxArgs = 3;
		var bufferTime = 600; //time before updating images client-side
		var canvasWidth = 600;
		var canvasHeight = 600;

		function update_img(id) {
			// give the server some time to write the new image

			setTimeout(()=>{
				let r = Math.random().toString(36).substring(7); // prevents caching
				document.getElementById(id).src = "static/img/user/"+fid+"_"+id+".png?dummy="+r;
			},bufferTime)
		}
		function update_all(){
			update_img("pres")
			update_img("next")
		}
		// return the final routestring by merging global variables
		function finalize(){
			var name = String($("#routeName").val());
			var desc = String($("#routeDesc").val());
			if(name == "" || desc == ""){
				alert("Need Route name/desc to be non-empty.")
				return
			} else if(rs == "") {
				alert("Need non-zero number of commands.")
				return
			} 
			var finalRS = "";
			//newline break, "\n" is not included because there are newlines in the `` string
			var n = "\\sn"
			var s = "\\s: " //space break
			finalRS += `NAME${n}
${name}${n}
DESCRIPTION${n}
${desc}${n}
CANVAS${n}
${canvasWidth}${s}${canvasHeight}${n}
ARGUMENTS${n}
${argString}COMMANDS${n}
${rs}END${n}
`;
			console.log(finalRS)
			var blob = new Blob([finalRS],{type: "text/plain;charset=utf-8"});
			saveAs(blob, name+".route")
		}
		// arguments list generation
		function render_arguments(){
			var argArr = argString.split("\\sn\n");
			var htmlString = "<li><u>TYPE:<b>ARGNAME</b></u></li>";
			for(var i=0; i<argArr.length-1; i++){
				var argArrSub = argArr[i].split("\\s: ")
				htmlString += "<li>"+argArrSub[1]+":<b>\\arg: "+argArrSub[0]+"</b></li>"
			}
			$("#argumentsList").html(htmlString);
		}
		// add to arguments
		function add_argument(){
			var text = String($("#argName").val());
			if(text == "" || argNames.includes(text)){
				alert("Same or empty argument name input.")
				return
			} else if (argNames.length >= maxArgs) {
				alert("More than the maximum allowed arguments: (" + maxArgs + ").")
				return
			}
			argNames.push(text)
			argString += text + "\\s: " + $("#argSelect").val() + "\\sn\n";
			$("#argName").val("")
			render_arguments()
		}
		//parse form.serializeRoute() to proper routestring command syntax
		function to_rs_command(type, fd){
			var s = "\\s: "; // break for space
			var endl = "\\sn\n"; // break for newline
			// route commandstrings start with the type
			var rs_comm = type + s; 
			if(!(["draw_text","draw_shape","draw_image"].includes(type))){
				alert("improper type string for to_rs_command()")
			}
			//construct the rest of the route commandstring
			for(var i=0; i<fd.length; i++){
				if(i == fd.length-1){ // newlines have a different symbol
					rs_comm += `${fd[i].value}${endl}`;
				} else{
					rs_comm += `${fd[i].value}${s}`;
				} 
			}
			console.log(rs_comm)
			rs_add = rs_comm; // save for later, add to main routestring when user finalize step
			return rs_comm;
		}
		$(document).ready(()=>{
			// blank generation form
			$("#blankForm").submit((e) => {
				e.preventDefault(); //avoid normal submit
				var form = $(e.currentTarget)
				console.log("e"+form.serialize())
				$.ajax({
					type: "POST",
					url: "./create/generate_blank",
					data: form.serialize(),
					success: (data) => {
						console.log("blankForm success")
						console.log(data)
					},
					error: (data) => {
						console.log("blankForm error")
						console.log(data)
					},
				});
				update_all() // update images
				$(".hid").css("display", "block");
				rs = "" // reset route string
				rs_add = "" // reset route string add
				argString = "" // reset arguments
				argNames = [] // reset argnames 
				$("#argumentsList").html("") // render empty arguments
				canvasWidth = $("#canvasWidthText").val() // dimensions for routestring generation
				canvasHeight = $("#canvasHeightText").val()
				setTimeout(()=>{
					render_arguments()
				},60)	
			});
			// draw text,shape,image
			$("#draw_text,#draw_shape,#draw_image").submit((e)=> {
				e.preventDefault();
				var form = $(e.currentTarget)
				var type = form.attr('id')
				$.ajax({
					type: "POST",
					url: "./create/run_command",
					// sends a routestring command
					data: "rs_comm=" + to_rs_command(type, form.serializeArray()),
					success: (data) => {
						console.log("drawForm success")
					}, error: (data) => {
						console.log("drawForm error")						
					},
				})
				update_all() // update images
			});
			// emergency refresh button (in case images are generated too late)
			$("#refreshBtn").click((e)=>{
				update_all()
			});
			// button to finalize step
			$("#nextBtn").click((e)=> {
				$.ajax({
					type: "POST",
					url: "./create/move_on",
					data: "",
					success: (data) => {
						console.log("move_on success")
					}, error: (data) => {
						console.log("move_on success")						
					},
				})
				rs += rs_add // add temp command to routestring
				rs_add = "" // empty temp command
				update_all()
			});
			// buffer time
			$("#bufferText").keyup((e)=>{
				var val = $("#bufferText").val()
				if(val < 120){
					val = 300
				} else if(val > 3000){
					val = 3000
				}
				bufferTime = val
			});
			// argument adding button
			$("#addArgBtn").click((e)=> {
				add_argument($("argSelect"))
			});
			$("#finalBtn").click((e)=> {
				finalize()
			});
		});


		console.log("fid: ", fid)
	</script>
{% endblock %}

{% block body %}
	<hr>
	<h2>Create Route</h2>
	Route Name:<input id="routeName" type="text">
	<button id="finalBtn">Download Route</button><br>
	<span id="downloadFile"></span>
	Route Description<textarea id="routeDesc"></textarea><br>
	<d>
	<form id="blankForm">
		x: <input type="number" name="width" id="canvasWidthText" value="600" max="1024">
		y: <input type="number"name="height" id="canvasHeightText" value="600" max="1024">
		<input type="submit" value="Generate Blank Canvas"> (RESET)
	</form>
	<hr>
	


	<div id="imageContainer">
		<div id="presContainer">
			<h3>present:</h3>
			<img class="raster" id="pres" src="{{ url_for('static', filename='img/default.png')}}">
			<br>
			<button id="refreshBtn">Emergency Refresh</button>
			Buffer MS ([300,3000]): <input id="bufferText" type="number" value="600" maxlength="4">
		</div>
		<div id="nextContainer">
			<h3>preview:</h3>
			<img class="raster" id="next" src="{{ url_for('static', filename='img/default.png')}}">
			<br>
			<button id="nextBtn">Continue to Next</button>
		</div>

	</div>
	<hr>
	<div id="argumentsContainer">
		<h4>Current Arguments:</h4>
		<ul id="argumentsList">
			<li><b><u>TYPE:ARGNAME</b></u></li>
		</ul>
		ADD ARGUMENT:
		Type:
		<select id="argSelect">
			<option value="text">text</option>
			<option value="img">img</option>
		</select>
		Name:<input id="argName" type="text">
		<button id="addArgBtn">ADD ARGUMENT</button>
	</div>
	<hr>
	<div id="commandList" class="hid">
		<hr>
		<form id="draw_text">
			<h4>Commands:</h4>
			ADD TEXT:
			posx: <input name="posx" type="number" min="-10000" max="10000">
			posy: <input name="posy" type="number" min="-10000" max="10000">
			Text: <textarea name="intext" form="draw_text"></textarea>
			font,fontsize:
			<select name="font">
				<option value="arial">Arial</option>
				<option value="cmunorm">Computer Modern</option>
				<option value="firacode">Fira Code</option>
				<option value="oldlondon">Old London</option>
				<option value="impact">Impact</option>
				<option value="timesnewroman">Times New Roman</option>
			</select>
			<input name="fontsize" type="number" min="0" max="1000">
			color: <input name="color" type="text" maxlength="9">
			<input type="submit" value="Add Text">
		</form>
		<hr>
		<form id="draw_shape">
			ADD SHAPE:
			posx: <input name="posx" type="number" min="-10000" max="10000">
			posy: <input name="posy" type="number" min="-10000" max="10000">
			shape:
			<select name="shape">
				<option value="rectangle">rectangle</option>
				<option value="rounded_rect">rounded_rect</option>
				<option value="reg_triangle">reg_triangle</option>
				<option value="reg_pentagon">reg_pentagon</option>
				<option value="reg_hexagon">reg_hexagon</option>
				<option value="ellipse">elipse</option>
			</select>
			width: <input name="width" type="number" min="0" max="10000">
			height: <input name="height" type="number" min="0" max="10000">
			color: <input name="color" type="text">
			<input type="submit" value="Add Shape">
		</form>
		<hr>

		<form id="draw_image">
			ADD IMAGE:
			posx: <input name="posx" type="number" min="-10000" max="10000">
			posy: <input name="posy" type="number" min="-10000" max="10000">
			argname: <input name="addFile" type="text">
			width: <input name="width" type="number" min="0" max="10000">
			height: <input name="height" type="number" min="0" max="10000">
			preserve-aspect:
			<select name="aspect">
				<option value="true">True</option>
				<option value="false">False</option>
			</select>
			<input type="submit" value="Add Image">
		</form>
		<hr>
		<input type="color"  value="#ffffff">
		<h5>Notes:</h5>
		* width is used for single length commands<br>
		* to use an argument, COPY EXACTLY the bolded argname listed under "Current Arguments:" into either the "Text:" field under "ADD TEXT" or the "Argument Name:" field under "ADD IMAGE".<br>
		* to change opacity, use an 8 digit hexcolor
	</div>
{% endblock %}
