{% extends 'base.html' %}
{% block head %}
<title>Raster Route</title>
{% endblock %}

{% block body %}

<hr>
<a href="./create"><h2>Create an Image Route</h2></a>

<hr>
<h4>Upload an image route (.route) to generate a routed image.</h4>
<form action="./route" method="POST" enctype="multipart/form-data">
	<input type="file" name="routeFile" >
	<input type="submit" value="Use an Image Route">
</form>
<hr>
<h4>Some samples:</h4>
	<a href="./static/sample-routes/4panelart.route">4panelart</a> (used below)
	<a href="./static/sample-routes/Caption.route">Caption</a>
	<a href="./static/sample-routes/tripleimg.route">Three Image Uploads</a>
	<a href="./static/sample-routes/another_no_args.route">No arguments</a>
	<a href="./static/sample-routes/noargtest.route">No arguments 2</a>
<hr>
<img src="./static/img/taka.png">
<img src="./static/img/taka_edit.png">
<hr>

<h1 id="raster-router">Raster Router</h1>
<p>Raster Router is a web application for producing templates for algorithmic image editing. The design goal for these templates, or <em>routes</em> is to have a black-box, functional design for creating images where the user inputs arguments (text or other images), to receive a modified image as a result. There are two main aspects to the webapp:</p>
<ol>
<li>Producing and serving images made of shapes and text according to the user&#39;s commands sequentially.</li>
<li>Producing and using human-readable templates that can be used to create images using other images and inputed text as arguments.</li>
</ol>
<p>Single Image generation on the web can be done via HTML and Javascript, but generation of many image with complex algorithms with many steps, or creating images in a single action using a template necessitates a more performant way to produce images. Raster Router can produce images quickly using shapes, text, and other images, and can produce images with or without arguments.</p>
<h2 id="programming-languages">Programming Languages</h2>
<p>It is built on the Flask web-framework, using JQuery for front-end commands, and Golang for image production. Python uses Ctypes for calling a Golang shared binary to produce raster image functions. Python uses Flask as a web-server to communicate the client-side Javascript web app, and the webapp makes many AJAX calls to call python functions to create dynamic web pages.</p>
<h3 id="external-libraries">External Libraries</h3>
<ul>
<li>github.com/fogleman/gg<ul>
<li>A golang graphics library was used to provide simple image manipulation functions</li>
</ul>
</li>
<li>github.com/nfnt/resize<ul>
<li>A golang library for resizing images</li>
</ul>
</li>
<li>github.com/eligrey/FileSaver.js<ul>
<li>A Javascript file was used to handle client-side downloading of a JS string for the route creation</li>
</ul>
</li>
</ul>
<h3 id="deployment">Deployment</h3>
<ul>
<li>Vagrant VM and Chef are used to deploy a Virtual Machine.</li>
<li>Create and Start the Vagrant VM <code>vagrant up</code></li>
<li>SSH into the Vagrant VM <code>vagrant ssh</code></li>
<li>Start the Flask server: <code>cd project; python3 app.py;</code></li>
<li>The local IP will be: <code>192.168.33.10:5000</code></li>
</ul>
<h2 id="how-to-use">How to Use</h2>
<h3 id="creating-routes">Creating Routes</h3>
<ol>
<li>From the main page, select &quot;Create an Image Route&quot;</li>
<li>The user generates a blank canvas of the size that they want.</li>
<li>The user then can add arguments and commands. This is rendered in a preview image which only shows the difference of a single command step. To add more commands, the user must sequentially write one command, continue to next, then write another command.</li>
<li>Arguments can be created by first adding an argument of type text or image. Then, the user must reference the chosen argument name prefixed with &quot;\arg: &quot; it in either the text of an <code>ADD_TEXT</code> command or the image-file of an <code>ADD_IMAGE</code> command based on type. Arguments must be the proper syntax, otherwise the code will fall back on a placeholder.</li>
<li>Downloading the route serves a <code>.route</code> extension RouteString. This can be used to <em>route</em> an image.</li>
</ol>
<h3 id="using-a-route">Using a Route</h3>
<ol>
<li>To use a route, the user must upload a valid RouteString file and press &quot;Use an Image Route&quot;.</li>
<li>Users are then redirected to a page where they can choose their arguments and read the route name and description. A dynamic form is generated using the RouteString&#39;s argument fields.</li>
<li>To give an image argument, the user must upload a valid image file, then upload them to the server, using the upload button. This image uploading must be done before image generation.</li>
<li>To give a text argument, the user can just type into a text area element in the same way.</li>
<li>To generate the final image, pressing the &quot;Generate Image&quot; button, and after waiting,  will render the image below on the same page. </li>
</ol>
<h2 id="how-it-works">How it works</h2>
<h3 id="routestrings">RouteStrings</h3>
<p>RouteStrings (<code>.route</code>) are a custom plaintext markup format to represent all of the data needed to create a <strong>route</strong>. They are designed to be human readable/editable and contain the information for a route&#39;s name, description, arguments, and commands. To make these processable with user input, three break characters had to be made. These are the newline(<code>\sn\n</code>), space(\s: ), and argument(\arg: ).</p>
<pre><code>NAME\<span class="hljs-keyword">sn</span>
<span class="hljs-number">4</span>panelart\<span class="hljs-keyword">sn</span>
DESCRIPTION\<span class="hljs-keyword">sn</span>
Demonstrating Image <span class="hljs-keyword">argument</span>.\<span class="hljs-keyword">sn</span>
CANVAS\<span class="hljs-keyword">sn</span>
<span class="hljs-number">400</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">400</span>\<span class="hljs-keyword">sn</span>
ARGUMENTS\<span class="hljs-keyword">sn</span>
test\<span class="hljs-variable">s:</span> img\<span class="hljs-keyword">sn</span>
COMMANDS\<span class="hljs-keyword">sn</span>
draw_image\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> \<span class="hljs-keyword">ar</span><span class="hljs-variable">g:</span> test\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> false\<span class="hljs-keyword">sn</span>
draw_image\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> \<span class="hljs-keyword">ar</span><span class="hljs-variable">g:</span> test\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> false\<span class="hljs-keyword">sn</span>
draw_image\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> \<span class="hljs-keyword">ar</span><span class="hljs-variable">g:</span> test\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> false\<span class="hljs-keyword">sn</span>
draw_image\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> \<span class="hljs-keyword">ar</span><span class="hljs-variable">g:</span> test\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> false\<span class="hljs-keyword">sn</span>
draw_shape\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> rectangle\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">99994444</span>\<span class="hljs-keyword">sn</span>
draw_shape\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> rectangle\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">22992244</span>\<span class="hljs-keyword">sn</span>
draw_shape\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> rectangle\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">00559944</span>\<span class="hljs-keyword">sn</span>
draw_shape\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">0</span>\<span class="hljs-variable">s:</span> rectangle\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">200</span>\<span class="hljs-variable">s:</span> <span class="hljs-number">33224444</span>\<span class="hljs-keyword">sn</span>
END\<span class="hljs-keyword">sn</span>
</code></pre><p>The syntax for RouteStrings is simple and can be easily modified in a text editor. This can be useful if a mistake was made during the template creation process, such as the wrong type for an argument or the wrong argument name. The name and description can also be modified via text editor.</p>
<h3 id="commandstrings">CommandStrings</h3>
<p>A CommandString is a single line of plaintext which represents a single command. These can be ran sequentially and running a RouteString executes a list of commands to produce the final image. These strings can be parsed by the Golang code, to call different functions and are passed from Javascript to Python to the Golang shared library. These are generated during the <em>Route Creation</em> process.</p>
<pre><code>draw_shape\<span class="hljs-string">s:</span> <span class="hljs-number">200</span>\<span class="hljs-string">s:</span> <span class="hljs-number">0</span>\<span class="hljs-string">s:</span> rectangle\<span class="hljs-string">s:</span> <span class="hljs-number">200</span>\<span class="hljs-string">s:</span> <span class="hljs-number">200</span>\<span class="hljs-string">s:</span> <span class="hljs-number">3322444</span>
</code></pre><h3 id="argumentstrings">ArgumentStrings</h3>
<p>ArgumentStrings are a plaintext string, similar to a RouteString in syntax, which defines the user&#39;s arguments during <em>Image routing</em>. These are used provide a linking mechanism between arguments and the RouteString commands and are only generated during the Routing process.</p>
<pre><code>taka<span class="hljs-string">\s:</span> taka.jpg<span class="hljs-string">\s:</span> img<span class="hljs-string">\sn</span>
</code></pre><h3 id="golang-role">Golang Role</h3>
<p>The Golang code was designed to be agnostic to file structure, requiring  input and output directory strings to produce images. Golang receives information in string format, and provides many decoding functions to parse RouteStrings, CommandStrings, and ArgumentStrings into different data structures and using them to run commands while detecting argument calls. Golang was chosen for this role because it is performant. The Golang code is able to run single CommandStrings or take a RouteString and ArgumentString to produce an image.</p>
<h3 id="python-role">Python Role</h3>
<p>The Python code was used as a web-server and to provide functions that received Javascript AJAX calls, and dealt with most of the file operations, including the renaming and copying of the creation images, using cookies. It was safer and more sensible for the web-server to determine the directories and edit files, rather than having the client send file information directly. Python was chosen for this role because Flask is a simple web framework.</p>
<h3 id="javascript-role">Javascript Role</h3>
<p>Javascript functions are made to provide AJAX calls and certain UI features, such as image reloading. There are many functions to generate the various RouteStrings, CommandStrings, ArgumentsStrings from information on the webpage into the proper syntax and provides the information to produce it and send it to Python. Javascript was chosen because it is required for front-end web programming.</p>
<h3 id="creating-routes-inner-workings">Creating Routes Inner Workings</h3>
<p>During the process of creating routes, the browser client is creating a RouteString in the background using Javascript and sending single-use command strings for image generation for previews. The image generation functionality is achieved though AJAX calls from Javascript to Flask, then from Flask, where the file manipulation is done. Python then calls the Golang binary to generate a new image. Lastly, Javascript updates the browser client image.</p>
<p>To move on to the next image/step, Python renames the files and Javascript refreshes the images as well, as well as adding to the RouteString variable. The RouteString can downloaded as a file as soon as at least one command, name, and description was inputed.</p>
<h3 id="using-routes-inner-workings">Using Routes Inner workings</h3>
<p>During the process of using routes, the webserver saves the uploaded RouteString file and sends the string via POST. Then the browser extracts the needed arguments, name, and description, and dynamically generates a form for uploading and choosing the suitable arguments. This means that the system can respond to any amount of arguments can be made and called because of the dynamic generation. After saving argument images to a directory using an AJAX call, the user can generate their image on the same page with another AJAX call.</p>
<h3 id="notes-on-difficulty">Notes on Difficulty</h3>
<p>I found that the architectural requirements to create this project was non-trivial. Two interfaces of communication and string formats had to be made so the browser and webserver and webserver and go code could pass information safely. A lot of parsing and generating different string formats was done to produce the proper results.</p>


{% endblock %}
